colors/*
!colors/default_theme.lua
plugin
docs
# lua/user
# lua/packer_compiled.lua
ginit.vim
tmux/plugins/*
!tmux/plugins/tmux
lazy-lock.json
# Fish local config
.config/fish/config-local.fish
.config/fish/fish_variables.x86_64

# file from nushell
history.txt
